@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  padding: 0;
  margin: 0;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
.hidden {
  display: none !important;
}
input,
select,
textarea,
button {
  font-family: inherit;
}
header {
  background-color: #1c1c1c;
}
header .header-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: white;
}
header .header-content .logo {
  font-size: 24px;
  font-weight: 700;
  line-height: 2;
}
header .header-content .menu {
  display: flex;
  gap: 30px;
  padding: 0;
}
header .header-content .menu a {
  color: #878787;
  display: inline-block;
  padding: 15px 0;
  font-weight: 400;
  transition: 0.3s ease-in-out;
}
header .header-content .menu a:hover {
  color: white;
}
header .header-content .hidden-menu-ico {
  display: none;
}
header .header-content .hidden-menu-ico img {
  width: 30px;
  height: 30px;
}
@media (width < 700px) {
  header .header-content {
    position: relative;
  }
  header .header-content .menu {
    position: fixed;
    flex-direction: column;
    width: 90%;
    left: 0;
    top: 48px;
    align-items: center;
    margin: 0;
    gap: 0;
    background-color: #1c1c1c;
    transition: 0.3s ease-in-out;
    transform: translateY(-450px);
    z-index: 999;
  }
  header .header-content .menu li:last-child {
    margin-bottom: 30px;
  }
  header .header-content .top-menu-hidden {
    transition: 0.3s ease-in-out;
    transform: translateY(0);
  }
  header .header-content .hidden-menu-ico {
    display: flex;
    cursor: pointer;
  }
}
.hero {
  background-image: url("../img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  max-width: 1350px;
  margin: 0 auto 100px auto;
  color: white;
  padding-bottom: 50px;
  z-index: 99;
}
.hero .hero-content {
  position: relative;
  height: 80vh;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.hero .hero-content .welcome {
  font-weight: 600;
  margin-bottom: 50px;
  overflow: hidden;
}
.hero .hero-content .hero-title {
  font-size: 60px;
  margin-bottom: 50px;
  text-transform: uppercase;
}
.hero .hero-content .slogan {
  max-width: 500px;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 1px;
  margin-bottom: 50px;
}
.hero .hero-content .hero-buttons {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 25px;
}
.hero .hero-content .hero-buttons .btn-primary {
  background-color: white;
  border: 1px solid white;
  color: #000;
  flex-basis: 200px;
  padding: 15px;
  border-radius: 30px;
  transition: 0.3s ease-in-out;
}
.hero .hero-content .hero-buttons .btn-primary:hover {
  background-color: transparent;
  color: white;
}
.hero .hero-content .hero-buttons .btn-secondary {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  flex-basis: 200px;
  padding: 15px;
  border-radius: 30px;
  transition: 0.3s ease-in-out;
}
.hero .hero-content .hero-buttons .btn-secondary:hover {
  background-color: white;
  color: #000;
}
.hero::before {
  content: '';
  position: absolute;
  left: 0;
  height: 80vh;
  width: 100%;
  z-index: -1;
  border-top: 65vh solid #1c1c1c;
  border-right: 100px solid transparent;
}
@media (width < 1000px) {
  .hero .hero-content {
    width: 100%;
  }
}
.presentation .presentation-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.presentation .presentation-content .presentation-text {
  min-width: 335px;
  width: 45%;
  line-height: 1.6;
}
.presentation .presentation-content .presentation-text h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
}
.presentation .presentation-content .presentation-text p {
  margin-bottom: 30px;
  color: #1c1c1c;
}
.presentation .presentation-content .presentation-text ul {
  padding: 0;
}
.presentation .presentation-content .presentation-text ul li {
  margin-bottom: 30px;
  color: #1c1c1c;
}
.presentation .presentation-content .presentation-text ul li::before {
  content: '✔';
  display: inline-block;
  color: white;
  text-align: center;
  width: 30px;
  height: 30px;
  background-color: #1c1c1c;
  margin-right: 30px;
  border-radius: 50%;
  padding-top: 2px;
}
.presentation .presentation-content .photo {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  height: 546px;
}
.presentation .presentation-content .photo img {
  display: inline-block;
  width: 100%;
  max-width: 300px;
  transition: 0.3s ease-in-out;
}
.presentation .presentation-content .photo img:hover {
  transform: scale(1.2);
}
.presentation .presentation-content .photo::before {
  position: absolute;
  content: '';
  width: 300px;
  height: 300px;
  left: -50px;
  bottom: 30px;
  z-index: -2;
  background-image: url("../img/dot.png");
}
.presentation .presentation-content .photo::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 70%;
  right: -30px;
  top: 30px;
  background-color: #1c1c1c;
  z-index: -1;
}
@media (width < 700px) {
  .presentation .presentation-content {
    flex-direction: column;
    align-items: center;
  }
}
.services {
  margin-top: 50px;
  background-color: #1c1c1c;
  color: white;
}
.services .services-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-bottom: 100px;
}
.services .services-content .title {
  padding-top: 100px;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 50px;
}
.services .services-content .subtitle {
  line-height: 1.6;
  font-weight: 400;
  margin-bottom: 50px;
  color: #878787;
}
.services .services-content .skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: start;
  padding-top: 50px;
  border-top: 1px solid #878787;
}
.services .services-content .skills .skill {
  flex-basis: 300px;
  border-bottom: 1px solid #878787;
}
.services .services-content .skills .skill img {
  display: block;
  width: 30px;
  height: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.services .services-content .skills .skill .skill-name {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.6;
}
.services .services-content .skills .skill .skill-description {
  color: #878787;
  margin: 15px 0 50px 0;
}
.news {
  margin-bottom: 100px;
}
.news .news-content {
  margin-top: 100px;
}
.news .news-content .title-block {
  width: 50%;
}
.news .news-content .title-block .title {
  font-size: 32px;
  font-weight: 800;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #878787;
}
.news .news-content .title-block .description {
  color: #878787;
  margin-bottom: 50px;
}
.news .news-content .picture-block {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 510px;
  justify-content: center;
}
.news .news-content .picture-block .news-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  background-color: white;
  padding: 0 30px;
}
.news .news-content .picture-block .news-text .resources {
  align-self: start;
  background-color: #000;
  color: white;
  font-size: 13px;
  padding: 15px;
  margin-bottom: 30px;
}
.news .news-content .picture-block .news-text .news-title {
  align-self: start;
  font-size: 22px;
  margin-bottom: 30px;
}
.news .news-content .picture-block .news-text .news-text {
  color: #878787;
  padding: 30px 0;
  border-bottom: 1px solid #878787;
  align-self: start;
}
.news .news-content .picture-block .news-text .continue {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 50px;
}
.news .news-content .picture-block .news-text .continue a {
  color: #000;
}
.news .news-content .picture-block .news-text .continue p {
  color: #878787;
}
.news .news-content .picture-block img {
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  width: 100%;
  max-width: 720px;
  z-index: -1;
}
@media (width < 640px) {
  .news .news-content {
    margin-top: 50px;
  }
  .news .news-content .title-block {
    width: 100%;
    text-align: center;
  }
  .news .news-content .picture-block {
    border: 1px solid #878787;
    height: auto;
  }
  .news .news-content .picture-block img {
    display: none;
  }
}
.my-works {
  background-color: #1c1c1c;
}
.my-works .my-works-content .title {
  font-size: 32px;
  font-weight: 800;
  color: white;
  margin-bottom: 30px;
  padding-top: 100px;
  padding-bottom: 30px;
  border-bottom: 1px solid #878787;
  width: 100%;
  max-width: 600px;
}
.my-works .my-works-content ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  color: #878787;
  padding-bottom: 50px;
}
.my-works .my-works-content ul li a {
  transition: 0.3s ease-in-out;
}
.my-works .my-works-content ul li a:hover {
  color: white;
}
.my-works .my-works-content .gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding-bottom: 100px;
}
.my-works .my-works-content .gallery img {
  width: 100%;
  max-width: 300px;
  object-fit: cover;
  filter: brightness(50%);
  transition: 0.3s ease-in-out;
}
.my-works .my-works-content .gallery img:hover {
  filter: unset;
}
.contact {
  background-image: url("../img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 150px 0 150px 0;
}
.contact .contact-content .contact-title {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin-right: 20px;
}
.contact .contact-content .contact-title .title {
  width: 100%;
  max-width: 500px;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 30px;
  align-self: start;
  line-height: 1.6;
}
.contact .contact-content .contact-title .contact-btn {
  align-self: start;
  border: 1px solid white;
  width: 100%;
  max-width: 200px;
  margin-bottom: 30px;
  text-align: center;
  padding: 15px;
  border-radius: 30px;
  transition: 0.3s ease-in-out;
}
.contact .contact-content .contact-title .contact-btn:hover {
  color: #000;
  background-color: white;
}
.contact .contact-content .card {
  width: 420px;
  background-color: white;
  padding: 50px 50px 100px 50px;
  color: #878787;
}
.contact .contact-content .card .text {
  line-height: 1.6;
  margin-bottom: 50px;
  padding-left: 30px;
  border-left: 1px solid #878787;
}
.contact .contact-content .card .author {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 150px;
  gap: 5px;
}
.contact .contact-content .card .author .name {
  font-size: 14px;
  font-weight: 400;
  color: #000;
}
.contact .contact-content .card .author .profession {
  font-size: 10px;
}
.contact .contact-content .card .author::before {
  position: absolute;
  content: '';
  background-image: url("../img/contact-img-small.jpg");
  width: 100px;
  height: 100px;
  left: 25px;
  top: -30px;
  border-radius: 50%;
}
@media (width < 980px) {
  .contact .contact-content {
    justify-content: center;
    padding: 50px 0 50px 0;
  }
  .contact .contact-content .card {
    width: 100%;
    max-width: 600px;
  }
}
.clients-icons {
  background-color: #1c1c1c;
}
.clients-icons .clients-ico-img {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.clients-icons .clients-ico-img img {
  width: 200px;
}
footer {
  background-image: url("../img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
}
footer .form-section .form-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 30px;
  gap: 50px;
  border-bottom: 1px solid #878787;
}
footer .form-section .form-content .form-text {
  flex-basis: 50%;
}
footer .form-section .form-content .form-text .title {
  font-size: 32px;
  font-weight: 800;
  line-height: 1.6;
  color: white;
  margin-bottom: 10px;
}
footer .form-section .form-content .form-text .sign-text {
  color: #878787;
}
footer .form-section .form-content .form {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
}
footer .form-section .form-content .form input {
  font-size: 16px;
  flex-grow: 2;
  padding: 15px;
  outline: none;
  background: none;
  border: 1px solid white;
  color: white;
  border-radius: 30px 0 0 30px;
}
footer .form-section .form-content .form input::placeholder {
  color: #878787;
}
footer .form-section .form-content .form input[type="submit"] {
  font-size: 16px;
  flex-grow: 1;
  background-color: white;
  color: #000;
  border-radius: 0 30px 30px 0;
}
footer .form-section .form-content .form input[type="submit"]:hover {
  background-color: transparent;
  color: white;
  transition: 0.3s ease-in-out;
}
@media (width < 840px) {
  footer .form-section .form-content {
    flex-direction: column;
  }
  footer .form-section .form-content .form {
    flex-direction: column;
    width: 100%;
    gap: 20px;
    align-items: center;
  }
  footer .form-section .form-content .form input {
    border-radius: 30px;
    width: 100%;
    max-width: 500px;
  }
  footer .form-section .form-content .form input[type="submit"] {
    border-radius: 30px;
  }
}
footer .site-author {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  gap: 30px;
  border-bottom: 1px solid #878787;
  color: #878787;
  line-height: 1.6;
}
footer .site-author .author-info {
  width: 30%;
  border-right: 1px solid #878787;
  padding: 0 20px 20px 0;
}
footer .site-author .author-info .title {
  font-size: 24px;
  font-weight: 700;
  color: white;
  margin-bottom: 20px;
}
footer .site-author .quick-links {
  width: 30%;
  border-right: 1px solid #878787;
}
footer .site-author .quick-links .title {
  font-size: 24px;
  font-weight: 700;
  color: white;
  margin-bottom: 20px;
}
footer .site-author .quick-links ul li {
  margin-bottom: 20px;
}
footer .site-author .quick-links ul li a {
  transition: 0.3s ease-in-out;
}
footer .site-author .quick-links ul li a:hover {
  color: white;
}
footer .site-author .footer-contact {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
footer .site-author .footer-contact .title {
  font-size: 24px;
  font-weight: 700;
  color: white;
  margin-bottom: 20px;
}
footer .site-author .footer-contact .tel {
  position: relative;
  padding-left: 30px;
  margin-bottom: 20px;
}
footer .site-author .footer-contact .tel::before {
  position: absolute;
  content: '';
  background-image: url("../img/footer-contacts-ico/phone-fill.svg");
  width: 20px;
  height: 20px;
  left: -5px;
  bottom: 0;
}
footer .site-author .footer-contact .email {
  position: relative;
  padding-left: 30px;
  margin-bottom: 20px;
}
footer .site-author .footer-contact .email:before {
  position: absolute;
  content: '';
  background-image: url("../img/footer-contacts-ico/mail-fill.svg");
  width: 20px;
  height: 20px;
  left: -5px;
  bottom: 0;
}
footer .site-author .footer-contact .address {
  position: relative;
  padding-left: 30px;
  margin-bottom: 30px;
}
footer .site-author .footer-contact .address:before {
  position: absolute;
  content: '';
  background-image: url("../img/footer-contacts-ico/contacts-book-3-fill.svg");
  width: 20px;
  height: 20px;
  left: -5px;
  bottom: 0;
}
footer .copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  color: #878787;
  padding-bottom: 30px;
}
footer .copyright .socials a img {
  height: 30px;
  width: 30px;
  margin: 10px;
}
footer .copyright .socials a img:hover {
  filter: invert(1);
}
@media (width < 640px) {
  footer .site-author {
    flex-direction: column;
  }
  footer .site-author .author-info {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #878787;
  }
  footer .site-author .quick-links {
    border-right: none;
    width: 100%;
    border-bottom: 1px solid #878787;
  }
  footer .copyright {
    flex-direction: column;
  }
  footer .copyright p {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */